<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width" initial-state="1">
        <style>
            .d1{
                width: 450px;
                background-attachment: rgb(2, 2, 2);
                padding-top: 10px;
                padding: 40px;
                margin: auto;
                color: black;
                margin-top: 2%;
                border: 1px solid black;
                background-color: rgba(53, 52, 52, 0.336);
            }
            #fname,#lname,#email,#pwd{
                width: 350px;
            }
            #phone{
                width: 300px;
            }
            .d2{
                margin-top: 20px;
                width: 400px;
                text-align: center;
                align-items: center;
                justify-content: center;
                margin: auto;
                background-color: rgba(199, 120, 182, 0.562);;
                border: 4px solid rgb(199, 6, 238);
            }
        </style>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body style="background-color: #d4c2e294;">                     
        <div class="d2" align="center">
            <p style="color: rgba(13, 13, 14, 0.719);"> WELCOME <br> ENTER YOUR DETAILS!!:)</p>
        </div>
        <div class="d1">
        <form action="/signupsubmit" method="get" class="form-group">
            <b>First_Name</b> <input type="text" required name="fname" id="fname" class="form-control"><br>
            <b>Last_Name </b>: <input type="text" required name="lname" id="lname" class="form-control"><br>
            <b>Email :</b> <input type="email" required name="email" id="email" class="form-control"><br>
            <b>Password : </b><input type="password" required name="pwd" id="pwd" class="form-control"><br>
            <b>Mobile Number :</b> <input type="phone" required name="phone" id="phone" class="form-control"><br>
           <b> Date of birth :</b><input type="date"  name="date" class="form-control"><br>
            <b>Gender</b> : <input type="radio"  name="gen" >Male
                     <input type="radio"  name="gen" >Female
                     <input type="radio"  name="gen" >Others<br>
            <input type="submit" value="signup" style="margin-left:auto ;margin-right:auto;width: 100px;
            color: rgb(53, 54, 53); background-color: rgb(151, 151, 240); height: 30px;">
            <hr><br>
            <p align="center">Already have an account? then <a href="/signin" >signin</a></p>
        </form>
        </div>
    </body>
</html>
